.star-rating
  span class='glyphicon glyphicon-remove-sign' ng-click='reset()'
  span[ng-repeat='i in times(5)' class='glyphicon glyphicon-star' id='star' ng-click='setStar(i)'
    ng-class="$index < stars ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'"]
